.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
}

nav ul li a:hover {
  text-decoration: underline;
}

.home-container {
  padding: 20px;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.calculator-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.calculator-card h2 {
  margin-top: 0;
}

.calculator-card p {
  margin: 10px 0;
}

.calculator-card a {
  text-decoration: none;
  color: #007BFF;
}

.calculator-card a:hover {
  text-decoration: underline;
}
