body {
    background-color:white ; /* Set the background color to match the calculator's background */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a global font */
}

.simple-interest-page{
   display:flex;
   align-items: right;
   justify-content: center;
   height:fit-content;
   background-color: white;
   margin:0
}
.simple-interest-page .calculator-container{ /*for the calculator as a whole*/

    background-color:transparent;
    padding:0;
    border-radius:0;
    box-shadow:none;
    width:400px;
    max-width:90%;
    margin-top:2em;
    align-items: left;
}

.simple-interest-page .calculator-container h1{
    text-align:center;
    color:#333;
}

.simple-interest-page .input-container{
    margin:10px 0;
}
.simple-interest-page .input-container label{
    display:block;
    color: #292727;
}
.simple-interest-page .input-container input[type="number"],
.simple-interest-page .input-container input[type="range"]{
    width:100%;
    margin-top:10px;
}
.simple-interest-page button{ /*for the calculate option*/
    width:100%;
    padding:10px;
    border:none;
    border-radius:5px;
    background-color: #0650a0;
    color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}

.simple-interest-page button:hover{
    background-color: #4a6693;
}
.simple-interest-page .result-container{
    margin-top:20px;
    text-align:center;

}

.simple-interest-page .result-container p{
    margin:5px 0;
    color: #333;
}
.simple-interest-page .result-container span{
    font-weight:bold;
}
